@import './index.scss';

body {
    background: linear-gradient(121.83deg, #87AFFF 0%, #F1F3FF 99.99%, #ABD0FF 100%);
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: white;
    border: 1px solid white;
    padding: 5%;
    border-radius: 10%;
    text-align: center;
    h3 {
        font-weight: lighter;
        margin-bottom: 5px;
    }
    .sub-text {
        color: #82807C;
        margin-top: 0;
    }
}

